* {
  font-family: Arial, Helvetica, sans-serif;
}

.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 40px;
}

h1 {
  color: #007bff;
  margin-bottom: 10px;
}

.sub {
  color: white;
  font-weight: lighter;
}

.date-info {
  color: #666;
  font-size: 14px;
  margin: 10px 10px 10px 0;
  font-style: italic;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.post-card {
  background: #040404;
  border: 1px solid #007bff;
  border-radius: 8px;
  padding: 20px;
  transition: all 0.3s ease;
}

.post-card:hover {
  transform:  translateY(-2px);
  box-shadow: 0 0 12px rgba(0,123,255,1);
}

.post-card h3 {
  margin-top: 0;
  color: #007bff;
  text-transform: capitalize;
}

.post-card p {
  color: white;
  line-height: 1.6;
}

.post-card small {
  color: #666;
}
